html { 
    font-family: Tahoma, verdana, sans-serif;
	font-size: 125%;
	min-height: 100%;
	background-image: linear-gradient(to bottom, #171a21, #000000);
	background-size: 200%;
    background-repeat: repeat;
}

body {
	color: #edf1f9;
}

div.general {
	background-image: linear-gradient(to bottom, #21252F, #1d212a);
    background-color: #21252F;
    border-radius: 15px;
	padding: 2%;
}

img {
	padding: 2% 0% 2% 0%;
}

@media screen and (max-width: 999px) {
    div.general {
		margin: 2% 5% 2% 5%; 
	}
	div.gallery {
		margin: 1%;
	}
}

@media screen and (min-width: 999px) {
	div.general {
		margin: 2% 25% 2% 25%;
	}
	div.gallery {
		margin: 1%;
	}
	
}



.title {
	text-align: center;
	padding: 2% 0% 2% 0%;
}

h1 {
	font-size: 250%;
	color: #bcc0c9;
}

h2 {
	font-size: 200%;
	color: #bcc0c9;
}

h3 {
	font-size: 150%;
	color: #bcc0c9;
}

a {
	/* font-weight: bold; */
	/* font-family: 'Lucida Console', 'Courier New', monospace;  */
	color: #9FA9CD;
	font-size: 100%;
}

a:visited {
	color: #677196;
}

.centered {
	text-align: center;
	padding: 1% 0% 1% 0%;
}

.decorative {
	color: #bcc0c9;
	padding: 1%;
    user-select: none; 
}

img {
	  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
	border-radius: 0.5%;
}